body{
	background: #a2defa;
	margin-top: 125px; /* adjust this if the height of the menu bar changes */
}
    
.navbar{
	font-family: 'Bree Serif', serif;
	font-size 12px;
	color: #507696;
}
.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
	padding: 0 15px;
}

@media(min-width:768px) {
    .navbar-fixed-top .nav {
        padding: 15px 0;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.navbar-inverse { background-color: #fff}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #89c7d4}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #89c7d4}
.dropdown-menu { background-color: #fff}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #fff}
.navbar-inverse .navbar-brand { color: #89c7d4}
.navbar-inverse .navbar-brand:hover { color: #fff}
.navbar-inverse .navbar-nav>li>a { color: #89c7d4}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #89c7d4}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #89c7d4}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #89c7d4}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.active{
	background-color: #89c7d4;
}

@font-face{
	font-family: forque;
	src: url("../fonts/Forque.ttf");
}


h1{
		font-family: forque;
		text-align: center;
		font-size: 600%;
		color: #fff;
		text-shadow: 3px 3px #545b57;
}
h2{
	font-family: 'Bree Serif', serif;
	color: #fff;
    margin: 0;     
    padding: 5%;
    font-size: 40px; 
	text-shadow: 3px 3px #545b57;
}
h3{
	font-family: 'Bree Serif', serif;
	font-size: 32px;
	margin: 0.5em;
	text-shadow: 3px 3px #545b57;	
}


h5{
		font-family: forque;
		border-radius: 5px;
		text-align: center;
		font-size: 200%;
		text-shadow: 3px 3px #545b57;
}




p{
	font-family: 'Oswald', sans-serif;
	font-size: 150%;
}


#apple{ 
	margin: -10% 0 0 0;
}
img{
	max-width: 100% !important;
}


a{
	list-style-type: none;
	color: #fff;
}
.item{
    background: #333;  
	color: #fff;
    text-align: center;
	border-radius: 5px;
    height: 500px !important;
}
.carousel{
    margin-top: 1em;
	border-radius: 10px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption{
text-shadow: 3px 0px 9px rgba(34, 37, 30, 1);
}
.pictureSlide{
	margin: 1em 2em;
}

#georgie-main{
	display: flex;
	display: -webkit- flex;
    flex-direction: column;
    justify-content: center;
	height: 60%;
	margin: 5% 20% 5% 20%;
	border-radius: 50% 50%;
	vertical-align: middle;
}
#about{
	padding: 5% 20%;
	margin: 0 auto;
	background: #69899c;
	border-radius: 10px;
	color: #fff;
	width: 70%;
}
.twitter{
	margin: 10px auto;
	height: 20%;
	width: 70%;
	padding: 5% 20%;
	background: #5e5e5e;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	color: #fff;
	font-size: 300%;

}

@media only screen and (max-width: 767px) and (orientation: portrait) {

p{
	font-family: 'Oswald', sans-serif;
	font-size: 50%;
}

	.twitter{
	margin: 0 auto;
	height: 20%;
	width: 70%;
	padding: 5%;
	background: #5e5e5e;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	color: #fff;
	font-size: 80%;
}
    
.twitter-timeline{
	width: 50%;
	margin: 0 -8%;
}


}
